@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

$primary: hsl(172, 67%, 45%);
$veryDarkCyan: hsl(183, 100%, 15%);
$darkGrayishCyan: hsl(186, 14%, 43%);
$darkGrayishCyanLighter: hsl(184, 14%, 56%);
$lightGrayishCyan: hsl(185, 41%, 84%);
$lightGrayishCyanLighter: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);